@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}


.container-fluid {
    max-width: 1300px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}

div.form {
    box-shadow: 0px 2px 5px 1px rgba(128, 128, 128, 0.37);
    border-radius: 4px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #bed4a4, #ebccb9)
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input, select {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #bed4a4;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;

}

form .gender-details .category {
    display: flex;
    width: 80%;
    margin: 14px;
    
}

.gender-details .category label {
    display: flex;
    align-items: center;
    margin: 10px;
}

.gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: #cfd4c9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color: #cfd4c9;
    background: #ffffff;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    background: linear-gradient(135deg, #bed4a4, #ebccb9);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 2px;
}

form .button input:hover {
    background: linear-gradient(-135deg, #bed4a4, #ebccb9);
}

@media (max-width: 597px) {
    .container {
        max-width: 100%;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category {
        width: 100%;
        flex-wrap: wrap;
    }
    .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar-track {
        background-color: #f4f4f4;
    }
    .user-details::-webkit-scrollbar {
        width: 6px;
        background: #F4f4f4;
    }
    .user-details::-webkit-scrollbar-thumb {
        background: #bed4a4;
    }
}

